---
import BaseHead from "../components/BaseHead.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<BaseHead title="I'm a teapot" />
	<body class="dark:bg-neutral-900 dark:text-neutral-100 min-h-screen">
		<Navbar />
        <div class="py-1 px-3 items-center">
			<h1 class="text-center text-3xl md:text-6xl font-bold py-2">🫖 418 I'm  a teapot.</h1>
			<h3 class="text-center text-md md:text-xl py-2">The requested entity body is short and stout. Tip me over and pour me out.</h3>
		</div>
		<Footer />
	</body>
</html>
