---
import BaseHead from "../components/BaseHead.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<html lang="en">
    <BaseHead title="Contact" />
    <body class="dark:bg-neutral-900 dark:text-neutral-100 min-h-screen">
        <Navbar />
        <Header title="📞 Contact" />
        <hr class="border-neutral-200 dark:border-neutral-800" />
        <h2 class="text-center text-xl md:text-3xl font-semibold py-2">I ignore my email, so here's some other ways of contacting me:</h2>
        <ol class="flex flex-col py-3 items-center">
            <li><a href="https://discord.gg/3urn8Wn5S8" class="hover:underline">Discord</a></li>
            <li><a rel="me" href="https://wetdry.world/@valbuildr" class="hover:underline">Mastodon (wetdry.world)</a></li>
        </ol>
        <Footer />
    </body>
</html>
