---
const { title } = Astro.props;
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/939a8361d8.js" crossorigin="anonymous"></script>
    <title>{title} - valbuilds.gay</title>
</head>