---
---

<footer class="p-3 pl-16 mb-6 flex flex-col items-center border-t-2 border-neutral-200 dark:border-neutral-800 sticky top-[100vh]" style="height: 65px;">
    <div class="flex">
        <a href="/" class="text-lg font-semibold">Made with <i class="fa-solid fa-heart"></i> by Valentine.</a>
    </div>
    <div class="flex pt-3">
        <a href="/contact" class="hover:underline">Contact</a>
        <span class="mx-3"><i class="fa-solid fa-record-vinyl"></i></span>
        <a href="https://github.com/valbuildr/website" class="hover:underline">Source</a>
    </div>
</footer>