---
---

<footer class="p-3 pl-16 mb-6 flex flex-col items-center border-t-2 border-neutral-200 dark:border-neutral-800 sticky top-[100vh]" style="height: 65px;">
    <div class="flex">
        <a href="/" class="text-lg font-semibold">Made with <span class="material-symbols-outlined">favorite</span> by Valentine.</a><br />
    </div>
    <div class="flex pt-3">
        <a href="/contact" class="hover:underline">Contact</a>
        <span class="mx-3 material-symbols-outlined">check_indeterminate_small</span>
        <a href="https://github.com/valbuildr/website" class="hover:underline">Source</a>
        <span class="mx-3 material-symbols-outlined">check_indeterminate_small</span>
        <a href="https://discord.gg/3urn8Wn5S8" class="hover:underline">Discord</a>
    </div>
</footer>