---
---

<nav class="p-3 pl-16 flex items-center border-b-2 border-neutral-200 dark:border-neutral-800" style="height: 65px;">
    <div class="flex">
        <a href="/website" class="text-2xl">valbuilds.gay</a>
    </div>
</nav>